{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}
{% block content %}

<div id="list-building" class="cierralo-default-section content scaffold-list" role="main">
            <p class="cierralo-title cierralo-font-helveltica-neue">Todas los departamentos</p>

            <div class="cierralo-default-divider"></div>
            <div class="cierralo-all-building-container">
                <div class="cierralo-all-buildings">
                    <div class="cierralo-building-feature" style="background: url('https://habita.la/images/complete/28b972506123d81bd456afa35b2c37bc.JPG');">
                        <div class="cierralo-inner-container">
                            <div class="cierralo-all-face cierralo-font-helveltica-thin">
                                <div class="cierralo-face-rounder" style="background: url('http://www.free-icons-download.net/images/business-user-icon-44613.png')">
                                </div>
                                Mitch
                            </div>
                            <div class="cierralo-all-fav"><asset:image src="icons/heart.svg"></asset:image></div>
                            <div class="cierralo-all-price">1.2 MDP</div>
                            <div class="cierralo-end-container">
                                <div class="cierralo-all-title cierralo-font-helveltica-medium">Colima 228</div>
                                <div class="cierralo-all-subtitle cierralo-font-helveltica-thin">Roma Norte</div>
                                <div class="cierralo-all-features cierralo-font-helveltica-medium">
                                    <p>100m2 | 2 cuartos | 3 camas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cierralo-building-feature" style="background: url('https://habita.la/images/complete/28b972506123d81bd456afa35b2c37bc.JPG');">
                        <div class="cierralo-inner-container">
                            <div class="cierralo-all-face cierralo-font-helveltica-thin">
                                <div class="cierralo-face-rounder" style="background: url('http://www.free-icons-download.net/images/business-user-icon-44613.png')">
                                </div>
                                Mitch
                            </div>
                            <div class="cierralo-all-fav"><asset:image src="icons/heart.svg"></asset:image></div>
                            <div class="cierralo-all-price">1.2 MDP</div>
                            <div class="cierralo-end-container">
                                <div class="cierralo-all-title cierralo-font-helveltica-medium">Colima 228</div>
                                <div class="cierralo-all-subtitle cierralo-font-helveltica-thin">Roma Norte</div>
                                <div class="cierralo-all-features cierralo-font-helveltica-medium">
                                    <p>100m2 | 2 cuartos | 3 camas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cierralo-building-feature" style="background: url('https://habita.la/images/complete/28b972506123d81bd456afa35b2c37bc.JPG');">
                        <div class="cierralo-inner-container">
                            <div class="cierralo-all-face cierralo-font-helveltica-thin">
                                <div class="cierralo-face-rounder" style="background: url('http://www.free-icons-download.net/images/business-user-icon-44613.png')">
                                </div>
                                Mitch
                            </div>
                            <div class="cierralo-all-fav"><asset:image src="icons/heart.svg"></asset:image></div>
                            <div class="cierralo-all-price">1.2 MDP</div>
                            <div class="cierralo-end-container">
                                <div class="cierralo-all-title cierralo-font-helveltica-medium">Colima 228</div>
                                <div class="cierralo-all-subtitle cierralo-font-helveltica-thin">Roma Norte</div>
                                <div class="cierralo-all-features cierralo-font-helveltica-medium">
                                    <p>100m2 | 2 cuartos | 3 camas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cierralo-building-feature" style="background: url('https://habita.la/images/complete/28b972506123d81bd456afa35b2c37bc.JPG');">
                        <div class="cierralo-inner-container">
                            <div class="cierralo-all-face cierralo-font-helveltica-thin">
                                <div class="cierralo-face-rounder" style="background: url('http://www.free-icons-download.net/images/business-user-icon-44613.png')">
                                </div>
                                Mitch
                            </div>
                            <div class="cierralo-all-fav"><asset:image src="icons/heart.svg"></asset:image></div>
                            <div class="cierralo-all-price">1.2 MDP</div>
                            <div class="cierralo-end-container">
                                <div class="cierralo-all-title cierralo-font-helveltica-medium">Colima 228</div>
                                <div class="cierralo-all-subtitle cierralo-font-helveltica-thin">Roma Norte</div>
                                <div class="cierralo-all-features cierralo-font-helveltica-medium">
                                  <p>100m2 | 2 cuartos | 3 camas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cierralo-building-feature" style="background: url('https://habita.la/images/complete/28b972506123d81bd456afa35b2c37bc.JPG');">
                        <div class="cierralo-inner-container">
                            <div class="cierralo-all-face cierralo-font-helveltica-thin">
                                <div class="cierralo-face-rounder" style="background: url('http://www.free-icons-download.net/images/business-user-icon-44613.png')">
                                </div>
                                Mitch
                            </div>
                            <div class="cierralo-all-fav"><asset:image src="icons/heart.svg"></asset:image></div>
                            <div class="cierralo-all-price">1.2 MDP</div>
                            <div class="cierralo-end-container">
                                <div class="cierralo-all-title cierralo-font-helveltica-medium">Colima 228</div>
                                <div class="cierralo-all-subtitle cierralo-font-helveltica-thin">Roma Norte</div>
                                <div class="cierralo-all-features cierralo-font-helveltica-medium">
                                  <p>100m2 | 2 cuartos | 3 camas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cierralo-filter-buildings">
                    <div class="cierralo-font-helveltica-neue-light cierralo-filter-left">
                        <div>
                            <div>Precio</div>
                            <div class="cierralo-filter-divider"></div>
                            <div class="cierralo-slider">
                                <input type="text" maxlength="4" value="0" class="inp js-from">
                                <input type="text" maxlength="4" value="1000" class="inp js-to">
                            </div>
                            <button>Comparar</button>
                        </div>
                        <div>
                            <div>Delegación</div>
                            <div class="cierralo-filter-divider"></div>

                                <div class="cierralo-municipality cierralo-font-helveltica-neue-light">Roma Norte</div>

                                <div class="cierralo-municipality cierralo-font-helveltica-neue-light">Roma Sur</div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination">

            </div>
        </div>
{% endblock %}
