{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
{% include 'partials/greyNavbar.njk' %}
<div id="content" role="main" class="cierralo-content">
    <div class="dashboard-header cierralo-flex-colum">
      <p class="dashboard-title cierralo-font-helveltica-medium cierralo-purplish-grey-two">¡Hola Carlos!</p>
      <p class="dashboard-subtitle cierralo-font-helveltica-medium cierralo-purplish-grey-two letter-spacing-dot-three">Aún no haz realizado ninguna oferta</p>
    </div> 
    <div class="dashboard-divider">

    </div>
    <div class="discover-container">
      <p class="cierralo-font-helveltica-medium cierralo-purplish-grey-two dashboard-text letter-spacing-dot-three">Descubre tu próximo departamento</p>
    </div>
    <button class="cierralo-font-helveltica-neue dashboard-discover-btn cierralo-btn-secondary cierralo-remove-margin cursor-pointer letter-spacing-dot-six" id="dashboardBtn">Departamentos</button>
    <div class="second-dashboard-divider">

    </div>
    <div class="dashboard-body cierralo-flex-colum">
      <p class="discover-title cierralo-font-helveltica-medium cierralo-purplish-grey-two">Encuentra tu propiedad ideal</p>
    </div>
    <div class="discover-slider">
      <div class="slider multiple-items">
        <div class="dashboard-building-container">
          <div class="dashboard-building-photo-container inline-block">
            <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
          </div>
          <div class="dashboard-building-info-container inline-block">
            <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
            <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
            <div class="building-divider">

            </div>
            <p class="building-cost cierralo-orange-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
          </div>
        </div>
        <div class="dashboard-building-container">
          <div class="dashboard-building-photo-container inline-block">
            <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
          </div>
          <div class="dashboard-building-info-container inline-block">
            <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
            <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
            <div class="building-divider">

            </div>
            <p class="building-cost cierralo-orange-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
          </div>
        </div>
        <div class="dashboard-building-container">
          <div class="dashboard-building-photo-container inline-block">
            <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
          </div>
          <div class="dashboard-building-info-container inline-block">
            <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
            <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
            <div class="building-divider">

            </div>
            <p class="building-cost cierralo-orange-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
          </div>
        </div>
        <div class="dashboard-building-container">
          <div class="dashboard-building-photo-container inline-block">
            <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
          </div>
          <div class="dashboard-building-info-container inline-block">
            <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
            <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
            <div class="building-divider">

            </div>
            <p class="building-cost cierralo-orange-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cierralo-pre-footer-divider cierralo-flex-row">

    </div>
</div>
{% endblock %}