{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
{% include 'partials/greyNavbar.njk' %}
<div id="content" role="main" class="cierralo-content">
    <div id="signModal" class="modal">
      <!-- Modal content -->
      <div class="alert-modal-content cierralo-flex-colum">
        <div class="modal-close-btn-container">
          <span class="close cierralo-font-helveltica-neue-light"><img src="./img/icons/close-modal.png" class="close-modal-img"></span>
        </div>
        <div class="dashboard-arrow-check-circle cierralo-flex-row cursor-pointer">
          <img src="./img/icons/shape@3x.png" alt="" class="dashboard-arrow-check-icon">
        </div>
        <div class="alert-modal-body">
          <p class="dashboard-alert-text-one cierralo-grey-text cierralo-font-helveltica-bold letter-spacing-dot-three">Tu fecha de firma ha sido agendada</p>
        </div>
        <div class="modal-footer">
          <div class="modal-arrow-down">
          </div>
          <h1 class="dashboard-alert-text-three cierralo-font-helveltica-neue-light cierralo-white-text letter-spacing-dot-three">En cuanto el proceso se haya completado el <br>sistema trasladará esta propiedad a tu historial de compras</h1>
        </div>
      </div>
    </div>
    <div class="dashboard-header cierralo-flex-colum">
      <p class="dashboard-title cierralo-font-helveltica-medium cierralo-purplish-grey-two">¡Hola Carlos!</p>
      <p class="dashboard-subtitle cierralo-font-helveltica-medium cierralo-purplish-grey-two letter-spacing-dot-three">Aún no haz realizado ninguna oferta</p>
    </div> 
    <div class="dashboard-divider">

    </div>
    <div class="discover-container">
      <p class="cierralo-font-helveltica-medium cierralo-purplish-grey-two dashboard-text letter-spacing-dot-three">Descubre tu próximo departamento</p>
    </div>
    <button class="cierralo-font-helveltica-neue dashboard-discover-btn cierralo-btn-secondary cierralo-remove-margin cursor-pointer letter-spacing-dot-six" id="dashboardBtn">Departamentos</button>
    <div class="second-dashboard-divider">

    </div>
    <div class="dashboard-body cierralo-flex-colum">
      <p class="discover-title cierralo-font-helveltica-medium cierralo-purplish-grey-two">Encuentra tu propiedad ideal</p>
    </div>
    <div class="discover-slider">
      <div class="slider multiple-items">
        <a href="./buildingDetail.html" class="no-decoration">
          <div class="dashboard-building-container">
            <div class="dashboard-building-photo-container inline-block">
              <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
            </div>
            <div class="dashboard-building-info-container inline-block">
              <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
              <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
              <div class="building-divider">

              </div>
              <p class="building-cost cierralo-orange-two-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
            </div>
          </div>
        </a>
        <a href="./buildingDetail.html" class="no-decoration">
          <div class="dashboard-building-container">
            <div class="dashboard-building-photo-container inline-block">
              <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
            </div>
            <div class="dashboard-building-info-container inline-block">
              <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
              <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
              <div class="building-divider">

              </div>
              <p class="building-cost cierralo-orange-two-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
            </div>
          </div>
        </a>
        <a href="./buildingDetail.html" class="no-decoration">
          <div class="dashboard-building-container">
            <div class="dashboard-building-photo-container inline-block">
              <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
            </div>
            <div class="dashboard-building-info-container inline-block">
              <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
              <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
              <div class="building-divider">

              </div>
              <p class="building-cost cierralo-orange-two-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
            </div>
          </div>
        </a>
        <a href="./buildingDetail.html" class="no-decoration">
          <div class="dashboard-building-container">
            <div class="dashboard-building-photo-container inline-block">
              <img src="./img/group-4.png" alt="" class="dashboard-building-photo-rectangle">
            </div>
            <div class="dashboard-building-info-container inline-block">
              <h1 class="dashboard-building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
              <p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
              <div class="building-divider">

              </div>
              <p class="building-cost cierralo-orange-two-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="cierralo-pre-footer-divider cierralo-flex-row">

    </div>
</div>
{% endblock %}