{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
    <div id="content" role="main" class="cierralo-content">
        <div class="login-header cierralo-flex-colum">
            <p class="login-title cierralo-font-helveltica-medium cierralo-grey-text">Inicia Sesión</p>
            <p class="login-subtitle cierralo-font-helveltica-neue-light cierralo-grey-text">Comprador</p>
        </div> 
        <div class="login-divider">
            
        </div>
        <div class="login-social cierralo-flex-colum">
            <div class="facebook-button cierralo-flex-row">
                <img src="http://2.bp.blogspot.com/-2BMQLIQ0wY0/VL3gEjk75GI/AAAAAAAAAPM/SOjJYvW_vCM/s1600/FB-f-Logo__white_1024.png" alt="" class="login-icon-social facebook">
                <p class="button-text facebook cierralo-white-text cierralo-font-helveltica-neue letter-spacing-less-two">Iniciar sesión con Facebook</p>
            </div>
            <div class="google-button cierralo-flex-row">
                <img src="http://utahseopros.com/wp-content/uploads/Google_-G-_Logo.svg_.png" alt="" class="login-icon-social google">
                <p class="button-text google letter-spacing-less-two cierralo-font-helveltica-neue">Iniciar sesión en Google </p>
            </div>
        </div>
        <div class="login-or-container cierralo-flex-row">
            <div class="login-or-line-divider inline-block">
                
            </div>
            <div class="login-or-box inline-block">
                <p class="login-or-text cierralo-font-helveltica-neue cierralo-broken-color">o</p>
            </div>
            <div class="login-or-line-divider inline-block">
                
            </div>
        </div>
        <form>
            <div class="login-body cierralo-flex-colum">
                <div class="cierralo-flex-row-start">
                    <div class="input-labels-container inline-block">
                        <div class="input-label-box cierralo-flex-row-input-end">
                            <p class="input-label-text cierralo-font-helveltica-neue cierralo-purplish-grey letter-spacing-less-two">Correo electrónico</p>
                        </div>
                        <div class="input-label-box cierralo-flex-row-input-end">
                            <p class="input-label-text cierralo-font-helveltica-neue cierralo-purplish-grey letter-spacing-less-two">Contraseña</p>
                        </div>
                    </div>
                    <div class="input-container inline-block">
                        <div class="input-box">
                            <input type="text" name="" value="" placeholder="" class="login-input cierralo-purplish-grey cierralo-font-helveltica-neue">
                        </div>
                        <div class="input-box">
                            <input type="text" name="" value="" placeholder="" class="login-input cierralo-purplish-grey cierralo-font-helveltica-neue">
                        </div>
                        <div class="login-options-container">
                            <div class="password-box">
                                <input type="checkbox" name="accept" value="" class="terms-checkbox inline-block">
                                <p class="login-password-text cierralo-purplish-grey cierralo-font-helveltica-neue inline-block letter-spacing-less-two">Guardar contraseña</p>
                            </div>
                            <a href="./dashboard.html"><button class="cierralo-font-helveltica-neue-light cierralo-login-btn cierralo-btn-secondary cierralo-remove-margin cursor-pointer letter-spacing-dot-six" id="loginButton">Iniciar sesión</button></a>
                            <div class="seller-login-box">
                                <p class="seller-login-text cierralo-font-lato-regular cierralo-purplish-grey inline-block letter-spacing-less-two">¿Eres vendedor?</p>
                                <a href="./register.html" class="seller-login-link">
                                    <p class="seller-login-text cierralo-font-lato-regular cierralo-purplish-grey inline-block letter-spacing-less-two seller-border-link">Regístrate</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="cierralo-pre-footer-divider cierralo-flex-row">

        </div>
    </div>
{% endblock %}
