{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
	<div id="contactModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content cierralo-flex-colum">
			<div class="modal-close-btn-container">
				<span class="close cierralo-font-helveltica-neue-light"><img src="/img/icons/close-modal.png" class="close-modal-img"></span>
			</div>
			<div class="modal-header cierralo-flex-row">
				<h1 class="cierralo-grey-text cierralo-font-helveltica-bold modal-title">Contactar vendedor</h1>
			</div>
			<div class="cierralo-contact-modal-divider cierralo-flex-row">

	    	</div>
	    	<div class="modal-body">
	    		<img src="/img/dude.png" alt="" class="user-seller-photo-modal">
	    		<p class="modal-owner-text cierralo-grey-text cierralo-font-helveltica-medium letter-spacing-dot-six">Propietario</p>
	    		<p class="modal-name-text cierralo-font-helveltica-bold cierralo-purplish-grey letter-spacing-dot-six">José Martínez</p>
	    	</div>
			<div class="modal-footer">
				<div class="modal-arrow-down">
					
				</div>
				<a href="#"><img src="/img/icons/group-6@3x.png" alt="" class="modal-icon-phone"></a>
				<a href="#"><img src="/img/icons/group-7@3x.png" alt="" class="modal-icon-mail"></a>
			</div>
		</div>
	</div>
	<div class="cierralo-flex-colum">
		<div class="user-title-container">
			<h1 class="user-title-center cierralo-grey-text cierralo-font-helveltica-medium">Perfil del vendedor</h1>
		</div>
		<div class="cierralo-footer-divider cierralo-flex-row">

	    </div>
			<div class="user-header-info">
				<div class="user-photo-container">
					<img src="/img/dude.png" alt="" class="user-seller-photo">
				</div>
				<div class="user-info-container">
					<h1 class="user-seller-name cierralo-purplish-grey cierralo-font-helveltica-bold">José Martínez</h1>
					<p class="user-seller-membership cierralo-purplish-grey cierralo-font-helveltica-neue-light">Miembro desde Septiembre 2016</p>
					<div class="stars-container">
						<i class="fa fa-star rate-star" aria-hidden="true"></i>
						<i class="fa fa-star rate-star" aria-hidden="true"></i>
						<i class="fa fa-star rate-star" aria-hidden="true"></i>
						<i class="fa fa-star-half-o rate-star" aria-hidden="true"></i>
						<i class="fa fa-star-o rate-star" aria-hidden="true"></i>
					</div>
					<button class="cierralo-font-helveltica-thin cierralo-contact-btn cierralo-btn-secondary cierralo-remove-margin letter-spacing-dot-six" id="modalButton">Contactar</button>
				</div>
			</div>
			<div class="buildings-title-container">
				<h1 class="buildings-title-center cierralo-grey-text cierralo-font-helveltica-medium">Departamentos que ofrece José</h1>
			</div>
			<div class="building-container">
				<div class="building-photo-container">
					<img src="/img/group-4.png" alt="" class="building-photo-rectangle">
				</div>
				<div class="building-info-container">
					<h1 class="building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
					<p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
					<div class="building-divider">
						
					</div>
					<p class="building-cost cierralo-orange-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
					<a href="/home/signUp"><button class="cierralo-font-helveltica-thin cierralo-building-more-btn cierralo-btn-secondary cierralo-remove-margin letter-spacing-dot-six">Ver más</button></a>
				</div>
			</div>
			<div class="building-container">
				<div class="building-photo-container">
					<img src="/img/group-4.png" alt="" class="building-photo-rectangle">
				</div>
				<div class="building-info-container">
					<h1 class="building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
					<p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
					<div class="building-divider">
						
					</div>
					<p class="building-cost cierralo-orange-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
					<a href="/home/signUp"><button class="cierralo-font-helveltica-thin cierralo-building-more-btn cierralo-btn-secondary cierralo-remove-margin letter-spacing-dot-six">Ver más</button></a>
				</div>
			</div>
			<div class="building-container">
				<div class="building-photo-container">
					<img src="/img/group-4.png" alt="" class="building-photo-rectangle">
				</div>
				<div class="building-info-container">
					<h1 class="building-street-name cierralo-purplish-grey cierralo-font-helveltica-medium letter-spacing-dot-six">Xomali 17</h1>
					<p class="building-location cierralo-purplish-grey cierralo-font-helveltica-neue-light letter-spacing-dot-six">Huipulco</p>
					<div class="building-divider">
						
					</div>
					<p class="building-cost cierralo-orange-text cierralo-font-helveltica-neue-light letter-spacing-dot-four">5.2 MDP</p>
					<a href="/home/signUp"><button class="cierralo-font-helveltica-thin cierralo-building-more-btn cierralo-btn-secondary cierralo-remove-margin letter-spacing-dot-six">Ver más</button></a>
				</div>
			</div>
			<a href="/home/signUp"><button class="cierralo-font-helveltica-thin cierralo-default-btn cierralo-btn-secondary cierralo-remove-margin">Ver más</button></a>
			<div class="cierralo-pre-footer-divider cierralo-flex-row">

	    	</div>
	</div>
{% endblock %}