{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
{% include 'partials/greyNavbar.njk' %}
<div id="content" role="main" class="cierralo-content">
    <div class="scheduling-header cierralo-flex-colum">
      <p class="scheduling-title cierralo-font-helveltica-medium cierralo-purplish-grey-two">Agendación</p>
    </div> 
    <div class="scheduling-divider">

    </div>
    <div class="steps-count-box">
      <div class="steps-line">
        
      </div>
      <div class="step-ball one">
        <p class="cierralo-white-text cierralo-font-helveltica-bold ball-text">1</p>
        <p class="cierralo-font-helveltica-neue-light step-ball-title">Tu información</p>
      </div>
      <div class="step-ball two">
        <p class="cierralo-white-text cierralo-font-helveltica-bold ball-text">2</p>
        <p class="cierralo-font-helveltica-neue-light step-ball-title">Documentación</p>
      </div>
      <div class="step-ball three">
        <p class="cierralo-white-text cierralo-font-helveltica-bold ball-text">3</p>
        <p class="cierralo-font-helveltica-neue-light step-ball-title">Pago</p>
      </div>
      <div class="step-ball four active">
        <p class="cierralo-white-text cierralo-font-helveltica-bold ball-text">4</p>
        <p class="cierralo-font-helveltica-neue-light step-ball-title">Agendación</p>
      </div>
    </div>
    <div class="scheduling-subtitle-box">
      <p class="scheduling-subtitle cierralo-font-helveltica-medium cierralo-purplish-grey-two">De las 5 opciones que se muestran selecciona 3 en las que estés disponible</p>
    </div>
    <div class="calendar-section cierralo-flex-row">
      <div class="grey-calendar-container cierralo-flex-colum">
        <div id="datepicker">
          
        </div>
      </div>
      <div class="orange-info-container">
        <div class="grey-left-arrow">
        
        </div>
        <div class="schedule-address-container">
          <p class="address-title cierralo-white-text cierralo-font-helveltica-medium letter-spacing-dot-three">Colima #154</p>
          <div class="address-date-container cierralo-flex-row">
            <img src="./img/icons/calendar.png" class="address-info-icon inline-block">
            <p class="address-info-text inline-block cierralo-white-text cierralo-font-helveltica-neue">Vie 14 Sep, 2017</p>
          </div>
          <div class="address-date-container cierralo-flex-row">
            <img src="./img/icons/clock.png" class="address-info-icon inline-block">
            <p class="address-info-text inline-block cierralo-white-text cierralo-font-helveltica-neue">10:00 am</p>
          </div>
        </div>
      </div>
    </div>
    <button class="cierralo-font-helveltica-neue schedule-save-btn cierralo-btn-secondary cierralo-remove-margin cursor-pointer letter-spacing-dot-six" id="saveDate">Guardar fecha</button>
    <div class="scheduling-divider">

    </div>
    <div class="schedule-second-section-container cierralo-flex-colum">
      <p class="scheduling-second-title cierralo-font-helveltica-medium cierralo-purplish-grey-two">Agenda tu cita para la firma</p>
      <p class="scheduling-second-subtitle cierralo-font-helveltica-medium cierralo-purplish-grey-two">A continuación selecciona tres opciones de fecha en las que estés disponible para asistir.</p>
      <p class="scheduling-third-subtitle cierralo-font-helveltica-medium cierralo-purplish-grey-two">Dirección notaria</p>
      <div class="schedule-map-container cierralo-flex-row">
        <div class="orange-map-info">
          <div class="map-left-arrow"></div>
          <p class="cierralo-white-text cierralo-font-helveltica-neue schedule-map-address letter-spacing-dot-seven">Calle Colíma No. 228 Colonia Roma NorteDelegación Cuauhtémoc C.P. 06700Ciudad de México</p>
          <div class="orange-map-divider"></div>
        </div>
        <div class="schedule-map" id="scheduleMap">
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwzwWOG7rzZc7soDadgDWmVTpMnbMIQm4&sensor=false">
          </script>
          <script>
                var map;
                function initialize() {
                    var myLatLng = {lat: 19.4192741, lng: -99.1646228};
                    var mapOptions = {
                    zoom: 15,
                    center: new google.maps.LatLng(19.4192741,-99.1646228),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                    };
                    map = new google.maps.Map(document.getElementById('scheduleMap'),
                    mapOptions);
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Hello World!'
                    });
                }

                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
        </div>
      </div>
    </div>
    <div class="cierralo-pre-footer-divider cierralo-flex-row">
    </div>
</div>
{% endblock %}