<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="./css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/application.css">
    <link rel="stylesheet" href="./css/mobile.css">
    <!--Profile css file-->
    <link rel="stylesheet" href="./css/profile.css">
    <!--All building list css file-->
    <link rel="stylesheet" href="./css/buildingList.css">
    <!--Building details css file-->
    <link rel="stylesheet" href="./css/buildingDetail.css">
    <!--Make offer css file-->
    <link rel="stylesheet" href="./css/makeOffer.css">
    <!--Login css file-->
    <link rel="stylesheet" href="./css/login.css">
    <!--Register css file-->
    <link rel="stylesheet" href="./css/register.css">
    <!--Grey navbar css file-->
    <link rel="stylesheet" href="./css/greyNavbar.css">
    <!--Favorites css file-->
    <link rel="stylesheet" href="./css/favorites.css">
    <!--Dashboard css file-->
    <link rel="stylesheet" href="./css/dashboard.css">
    <!--Profile Edit css file-->
    <link rel="stylesheet" href="./css/profileEdit.css">
    <!--Scheduling css file-->
    <link rel="stylesheet" href="./css/scheduling.css">
    <!--Schedule css file-->
    <link rel="stylesheet" href="./css/schedule.css">
    <!--Slick css file-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.0/slick-theme.css" rel="stylesheet"/>
    <!--FontAwesome css file-->
    <script src="https://use.fontawesome.com/06b6ef868a.js"></script>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
  </head>
  <body id="body">
    <div id="page">
        {% if section == 'index' or section == 'buildingList' or section == 'login' or section == 'register'%}
            {% include 'partials/navbar.njk' %}
        {%else%}
            {% include 'partials/loggedNavbar.njk' %}
        {% endif %}
        {% if section == 'login' or section == 'makeOffer' or section == 'buildingDetail' or section == 'profile' or section == 'profileEdit' or section == 'favorites' or section == 'dashboard' or section == 'schedule' or section == 'scheduling'%}
            <main id="main" class="web-area">
        {% else %}
            <main id="main" class="">
        {% endif %}
            {% block content %}{% endblock %}
        </main>
        {% if section == 'login' or section == 'makeOffer' or section == 'profile' or section == 'profileEdit' or section == 'favorites' or section == 'dashboard' or section == 'schedule' or section == 'scheduling'%}
            {% include 'partials/alertMobile.njk' %}
        {% endif %}
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="./js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="./js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        {% if section == 'profile' %}
            <script src="./js/profile.js"></script>
        {% elif section == 'makeOffer' %}
            <script src="./js/makeOffer.js"></script>
        {% elif section == 'buildingList' %}
            <script src="./js/buildingList.js"></script>
        {% elif section == 'buildingDetail' %}
            <script src="./js/buildingDetail.js"></script>
        {% elif section == 'register' %}
            <script src="./js/register.js"></script>
        {% elif section == 'dashboard' %}
            <script src="./js/dashboard.js"></script>
        {% elif section == 'scheduling' %}
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>
            <script src="./js/scheduling.js"></script>
        {% elif section == 'schedule' %}
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>
            <script src="./js/scheduling.js"></script>
        {% endif %}
        <script src="./js/navbar.js"></script>
    {% endblock %}
  </body>
</html>
