<footer class="site-footer">
  <div class="footer cierralo-font-helveltica-thin" role="contentinfo">
        <div class="cierralo-main-footer cierralo-flex-colum">
            <div class="cierralo-row-one cierralo-flex-row cierralo-max-width">
                <div class="cierralo-flex-colum cierralo-no-center">
                    <a href="/">
                        <img src="./img/logo/cierralo-logo-02.png" class="cierralo-footer-logo">
                    </a>
                    <p>© 2017</p>
                </div>
                <div class="cierralo-adjust-footer">
                    <ul class="cierralo-footer-list">
                        <li>Contacto</li>
                        <li>Preguntas frecuentes</li>
                        <li>Acerca de nosotros</li>
                    </ul>
                    <ul class="cierralo-footer-list">
                        <li>info@cierralo.com</li>
                        <li><a href="tel:45674323" class="cierralo-phone">(55) 4567 4323</a></li>
                        <li><img src="./img/icons/fb.svg"><img src="./img/icons/instagram.svg" class="cierralo-add-padding-left"></li>
                    </ul>
                </div>
                <div class="cierralo-footer-right">
                    <p class="cierralo-footer-font-special cierralo-font-helveltica-bold">Conviértete en vendedor</p>
                    <a href="/home/signUp"><button class="cierralo-font-helveltica-medium cierralo-default-btn cierralo-btn-secondary cierralo-remove-margin cursor-pointer">Regístrate</button></a>
                </div>
            </div>
            <div class="cierralo-footer-divider cierralo-flex-row">

            </div>
            <div class="cierralo-footer-last-text cierralo-flex-row">
                <div>
                    Términos y condiciones
                </div>
                <div class="cierralo-pointer">
                    .
                </div>
                <div>
                    Aviso de privacidad
                </div>
            </div>
        </div>
    </div>
</footer>
