<button class="hamburger hamburger--collapse" type="button" id="cierralo-hamburger-menu">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
<nav id="navigation" class="cierralo-navbar">
    <a class="navbar-brand" href="/">
        <img src="./img/logo/cierralo-fit-logo.png" class="fitLogo" id="fit-logo">
    </a>
    <ul class="nav navbar-nav navbar-right" id="cierralo-main-navbar">


        <ul class="nav navbar-nav">
            <li class="padding-top-20"><a href="#">Departamentos</a></li>
            <li class="padding-top-20"><a href="#">¿Cómo funciona?</a></li>
            <li class="padding-top-20"><a href="#">Contacto</a></li>
            <li class="padding-top-20"><div class="navbar-divider"></div></li>
            <li><a href="/profile.html"><p class="navbar-user-info inline-block">Carlos</p> <img src="./img/profile-circle.png" alt="" class="navbar-user-photo-circle inline-block"></a></li>
        </ul>
        <div hidden="" class="cierralo-show-in-movil">
            <a class="cierralo-center-flex" href="/">
                <img src="./img/android-chrome-192x192.png" class="cierralo-logo-comparative">
            </a>
        </div>
    </ul>
</nav>
