<button class="hamburger hamburger--collapse" type="button" id="cierralo-hamburger-menu">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
<nav id="navigation" class="cierralo-navbar">
    <a class="navbar-brand" href="./">
        <img src="./img/logo/cierralo-fit-logo.png" class="fitLogo" id="fit-logo">
    </a>
    <ul class="nav navbar-nav navbar-right" id="cierralo-main-navbar">


        <ul class="nav navbar-nav navbar-right">
            <li class="cierralo-font-helveltica-neue"><a href="./buildingList.html">Departamentos</a></li>
            <li class="cierralo-font-helveltica-neue"><a href="#">Cómo funciona</a></li>
            <li class="cierralo-font-helveltica-neue"><a href="/login.html">Inicia sesión</a></li>
            <li class="cierralo-font-helveltica-medium" class="no-padding-top">
                <a href="/register.html" class="no-padding-top">
                    <button class="cierralo-font-helveltica-neue cierralo-register-navbar-btn cierralo-btn-secondary cursor-pointer" id="navbarRegister">Regístrate</button>
                </a>
            </li>
            <li class="cierralo-font-helveltica-medium" class="no-padding-top">
                <a href="/profile.html" class="no-padding-top">
                    <button class="cierralo-font-helveltica-neue cierralo-contact-navbar-btn cierralo-btn-secondary cursor-pointer" id="navbarContact">Contacto</button>
                </a>
            </li>
            <li class="cierralo-font-helveltica-neue no-margin-right"><a href="/login/auth"><img src="./img/icons/page-1-copy-5@3x.png" class="navbar-phone-icon"></a></a></li>
            <li class="cierralo-font-helveltica-neue no-margin-right"><a href="/login/auth"><img src="./img/icons/page-1-copy-4@3x.png" class="navbar-phone-icon"></a></a></li>
        </ul>
        <div hidden="" class="cierralo-show-in-movil">
            <a class="cierralo-center-flex" href="/">
                <img src="./img/android-chrome-192x192.png" class="cierralo-logo-comparative">
            </a>
        </div>
    </ul>
</nav>